<div class="login">
  <form action="">
    <h2 class="form__title">Inicio de Sesión</h2>
    <div class="form__group">
      <label class="form__label" for="usuario">Correo</label>
      <input class="form__input" type="text" id="email" placeholder="Ingresa tu correo" required>
    </div>
    <div class="form__group">
      <label class="form__label" for="clave">Contraseña</label>
      <input class="form__input" type="password" id="password" placeholder="Ingresa tu contraseña" required>
    </div>
    <button class="btn" type="submit">Iniciar Sesión</button>
    <button class="btn" type="button">Registrarse</button>
  </form>
</div>